In [ ]:
import pandas as pd 

df = pd.read_parquet("../datasets/iitb/tokenised/train_tokens.parquet")

In [2]:
df.shape

(1659083, 2)

In [3]:
df.size

3318166

In [4]:
df.head()

,en,hi
0,"[44, 78, 1597, 1927, 5197, 1599, 2317, 1585, 1...","[1788, 1830, 2778, 1563, 2457, 3771, 2016, 258..."
1,"[2345, 2381, 72, 1578, 1546, 2345, 72, 1585, 1...","[4656, 1954, 1530, 1592, 1777, 932, 2457, 3771..."
2,"[1668, 1751, 5422, 1745, 90, 76, 1551, 1612, 9...","[1571, 5305, 479, 4523, 1520, 1614, 2025, 480,..."
3,"[1668, 1751, 5422, 1745, 90, 76, 1551, 1612, 9...","[447, 479, 1796, 479, 4523, 1520, 1614, 2025, ..."
4,"[934, 4053, 1526, 1745, 90, 76, 3455, 1634, 16...","[2091, 1827, 487, 963, 1066, 444, 1828, 1539, ..."

In [14]:
from tokenizers import Tokenizer
from tokenizers import decoders

tokeniser: Tokenizer = Tokenizer.from_file("../datasets/iitb/tokeniser/bpe_tokeniser.json")
tokeniser.decoder = decoders.BPEDecoder(suffix="</w>")
tokeniser.get_vocab_size()

6000

In [15]:
tokeniser.encode("I am Anvesh dange").ids

[981, 2274, 1819, 91, 1585, 947, 73, 2797]

In [16]:
tokeniser.decode([981, 2274, 1819, 91, 1585, 947, 73, 2797])

'I am Anvesh dange'